body {
  background-color :#cccccc;
}

.header {
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #cccccc;
}
 
.main {
  padding-top: 50px;
  overflow: auto;
}

#gray {
  color: gray;
}

#blue {
  color: #0055ff;
}

#gray {
  color: gray
}

#underline{
   border-bottom: solid 5px black;
}
 
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #cccccc;
}
